<ion-content class="main-container">
  <ion-toolbar class="main-container" style="margin: 0; padding: 0">
    <ion-img
      src="../../assets/images/logo.png"
      class="logo-small"
      style="margin-left: 25%; margin-top: 3%"
    ></ion-img>
  </ion-toolbar>

  <ion-item class="main-container" lines="none">
    <ion-thumbnail class="cover-img">
      <img
        src="../../assets/images/cover-img1.jpg"
        style="border: 3px solid #893101"
      />
    </ion-thumbnail>
  </ion-item>

  <ion-item
    class="main-container"
    lines="none"
    style="margin: 0; overflow: visible"
  >
    <div class="profile">
      <ion-avatar>
        <img src="../../assets/images/profile-pic1.jpg" />
      </ion-avatar>
    </div>
    <ion-label
      ><h1 style="position: absolute; top: -20%; margin-left: 2%">
        Store Name
      </h1></ion-label
    >
  </ion-item>

  <div class="amber-bg">
    <h2 style="margin: 0; padding: 0">Best Sellers</h2>
  </div>
  <ion-slides
    [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
  >
    <ion-slide class="slide">
      <ion-col>
        <app-menu-slide
          name="Caesar Salad"
          price="12.97"
          img="../../assets/images/menu-item1.jfif"
        ></app-menu-slide>
      </ion-col>
    </ion-slide>
    <ion-slide class="slide">
      <ion-col>
        <app-menu-slide
          name="Pasta Salad"
          price="15.50"
          img="../../assets/images/menu-item3.jfif"
        ></app-menu-slide>
      </ion-col>
    </ion-slide>
    <ion-slide class="slide">
      <ion-col>
        <app-menu-slide
          name="Nicoise Salad"
          price="22.35"
          img="../../assets/images/menu-item6.jfif"
        ></app-menu-slide>
      </ion-col>
    </ion-slide>
    <ion-slide class="slide">
      <ion-col>
        <app-menu-slide
          name="Sphagetti Marinara"
          price="12.97"
          img="../../assets/images/menu-item2.jfif"
        ></app-menu-slide>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <div class="amber-bg">
    <h2 style="margin: 0; padding: 0">Menu Items</h2>
  </div>

  <app-menu-item
    name="Caesar Salad"
    price="12.97"
    desc="Romaine lettuce, croutons and grilled chicken."
    img="../../assets/images/menu-item1.jfif"
  ></app-menu-item>
  <app-menu-item
    name="Nicoise Salad"
    price="14.50"
    desc="Romaine lettuce, boiled eggs, tuna."
    img="../../assets/images/menu-item2.jfif"
  ></app-menu-item>
</ion-content>
