<ion-content class="main-container">
  <ion-toolbar class="main-container" style="margin: 0; padding: 0">
    <ion-buttons slot="start">
      <ion-menu-button style="color: var(--ion-color-amber)"></ion-menu-button>
    </ion-buttons>
    <ion-img
      src="../../assets/images/logo.png"
      class="logo-small"
      style="width: 150px; height: auto; margin-left: 22.5%; margin-top: 5%"
    ></ion-img>
  </ion-toolbar>

  <ion-list
    class="main-container"
    style="
      padding: 0;
      margin: 3%;
      --background: var(--ion-color-amber);
      background-color: #f1e0cd;
    "
  >
    <div class="feed-item">
      <ion-card
        class="main-container"
        style="padding: 0; margin: 0; box-shadow: 0"
      >
        <ion-item class="main-container">
          <ion-avatar>
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h1>Store 1</h1>
            <p>Cuisine: Italian</p>
          </ion-label>
        </ion-item>
        <ion-img src="../../assets/images/logo.png"></ion-img>
      </ion-card>
    </div>

    <div class="feed-item">
      <ion-card
        class="main-container"
        style="padding: 0; margin: 0; box-shadow: 0"
      >
        <ion-item class="main-container">
          <ion-avatar>
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h1>Store 1</h1>
            <p>Cuisine: Italian</p>
          </ion-label>
        </ion-item>
        <ion-img src="../../assets/images/logo.png"></ion-img>
      </ion-card>
    </div>
    <div class="feed-item">
      <ion-card
        class="main-container"
        style="padding: 0; margin: 0; box-shadow: 0"
      >
        <ion-item class="main-container">
          <ion-avatar>
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h1>Store 1</h1>
            <p>Cuisine: Italian</p>
          </ion-label>
        </ion-item>
        <ion-img src="../../assets/images/logo.png"></ion-img>
      </ion-card>
    </div>
    <div class="feed-item">
      <ion-card
        class="main-container"
        style="padding: 0; margin: 0; box-shadow: 0"
      >
        <ion-item class="main-container">
          <ion-avatar>
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h1>Store 1</h1>
            <p>Cuisine: Italian</p>
          </ion-label>
        </ion-item>
        <ion-img src="../../assets/images/logo.png"></ion-img>
      </ion-card>
    </div>
    <div class="feed-item">
      <ion-card
        class="main-container"
        style="padding: 0; margin: 0; box-shadow: 0"
      >
        <ion-item class="main-container">
          <ion-avatar>
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h1>Store 1</h1>
            <p>Cuisine: Italian</p>
          </ion-label>
        </ion-item>
        <ion-img src="../../assets/images/logo.png"></ion-img>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
