<ion-content class="main-container">
  <ion-toolbar class="main-container" style="margin: 0; padding: 0">
    <ion-buttons slot="start">
      <ion-menu-button style="color: var(--ion-color-amber)"></ion-menu-button>
    </ion-buttons>
    <ion-img
      src="../../assets/images/logo.png"
      class="logo-small"
      style="width: 150px; height: auto; margin-left: 22.5%; margin-top: 5%"
    ></ion-img>
  </ion-toolbar>

  <ion-list class="feed-list">
    <app-store-info
      name="Ela Cooks"
      cuisine="Salads & Pasta"
      logo="../../assets/images/profile-pic2.jpg"
      cover="../../assets/images/menu-item1.jfif"
    ></app-store-info>

    <app-store-info
      name="Marvelous Spreads"
      cuisine="Spreads"
      logo="../../assets/images/profile-pic3.jpg"
      cover="../../assets/images/menu-item4.jfif"
    ></app-store-info>

    <app-store-info
      name="Veganized"
      cuisine="Vegan Food Substitutes"
      logo="../../assets/images/profile-pic2.jpg"
      cover="../../assets/images/menu-item3.jfif"
    ></app-store-info>

    <app-store-info
      name="Ela Cooks"
      cuisine="Salads & Pasta"
      logo="../../assets/images/profile-pic1.jpg"
      cover="../../assets/images/menu-item2.jfif"
    ></app-store-info>
  </ion-list>
</ion-content>
