<ion-content class="main-container">
  <ion-img class="logo" src="../../assets/images/logo.png"></ion-img>

  <ion-item class="input-field">
    <ion-label position="floating" style="color: #F1E0CD;">Email, username or phone number</ion-label>
    <ion-input required="true" type="email" ></ion-input>
  </ion-item>
  <ion-item class="input-field">
    <ion-label position="floating" style="color: #F1E0CD;">Password</ion-label>
    <ion-input required="true" type="password"></ion-input>
  </ion-item>
  <ion-button class="honey-btn">Log In</ion-button>
  <ion-button fill="none" size = "full" class="sign-up">Don't have an account? Sign Up!</ion-button>

</ion-content>
