// colors: bg #F1E0CD honey #EC9706 amber #893101

.main-container
{
    --background: #F1E0CD;
}

.logo
{
    margin-top: 50%;
}

.sign-up
{
    margin-top: 50%;
    text-transform: initial;
    color: #893101;
}
